.card-abo {
  border-radius: 25px;
  text-align: center;
  padding: 0px;

  &.card-active {
    position: relative;
    top: -50px;
    overflow: hidden;
    border: 1px solid var(--warning);
    padding-bottom: 70px;

    h2 {
      color: var(--secondary);
      text-align: center;
    }
  }
}

.btn-white {
  border: 2px solid var(--secondary);
  color: var(--secondary);
  width: 75%;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-white:hover {
  background-color: var(--secondary);
  color: white;
}
