.moreinfo-abonnement {
  width: 14%;
  border: 1px solid white;
  text-align: center;
}

.row .abo-padding {
  padding-right: 100px;
}

.cardbody-height {
  min-height: 100px;
  max-height: 100px;
}

.abo-title-middle {
  padding-top: 0.75rem;
}

.card-abo {
  border-radius: 25px 25px 0 0;
  text-align: center;
  padding: 0px;
  position: relative;
  bottom: -45px;
  width: 100%;

  &.card-active {
    position: absolute;
    overflow: hidden;
    top: -50px;
    border: 1px solid var(--secondary);


    h2 {
      color: var(--secondary);
      text-align: center;
    }
  }
}

.btn-white {
  border: 2px solid var(--secondary);
  color: var(--secondary);
  width: 75%;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.btn-white:hover {
  background-color: var(--secondary);
  color: white;
}

@media (max-width: 992px) {
.card-abo {
  border-radius: 25px;
  bottom: 0px;
  padding-top: 10px;

  &.card-active {
    position: relative;
    top: 0px;
  }
}

.row .abo-padding {
  padding-right: 0px;
}
}
