.connection {
  text-align: center;
  justify-content: center;
}

.connection-info {
    background-color: #ffffff;
    padding-top: 75px;
    border-radius: 25px;

  h3 {
      color: #2D011F;
  }

  &.connection-add:hover {
    background-color: #C72E42;
    cursor: pointer;

  h3 {
    color: #ffffff;
  }
}
}

.connection-avatar {
  position: relative;
  margin-bottom: -50px;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  z-index: 999;
  margin: 20px auto;
}

.sidebar .connection-avatar .avatar {
  height: 102%;
  width: 120%;
}
