.other-bg {
  .introductie-content {
    padding: 50px 0 20px 50px;
    color: $primary;
    .test{
      margin: 0 40px 0 0;
    }
    .lampen {
      background: url(../img/lamp.gif) #0a031d;
      background-repeat: no-repeat;
      background-size: cover;
      width: 60%;
      background-position: left 200px center;
      height: 30vh;
      border-radius: 25px;
      .broken-lamp{
        color:white;
        padding:50px;
      }
    }
      .press-buttons {
        border: 1px solid grey;
        border-radius: 30px;
        margin: 20px;

        .button-ja {
          padding: 25px;
          justify-content: center;
          display: flex;
          flex-direction: row;

          .widget-button {
            margin: 20px;
          }
        }
      }
    .content{
      padding:0 0 20px 0;
      border-bottom:1px solid $secondary;
    }
  }
}

