.other-bg {
  .introductie-content {
    padding: 50px 0 20px 50px;
    color: $primary;
    .test{
      margin: 0 40px 0 0;
    }
    .lampen {
      background: url(../img/lamp.gif) #0a031d;
      background-repeat: no-repeat;
      background-size: cover;
      width: 60%;
      background-position: left 200px center;
      min-height: 300px;
      border-radius: 25px;
      .broken-lamp{
        color:white;
        padding:50px;
        .about-lamp{
          width:70%;
          margin: 20px 0;
        }
      }
    }
      .press-buttons {
        border: 1px solid grey;
        border-radius: 30px;
        margin: 20px;
        padding: 25px;
        display: flex;
        flex-direction: row;
        background: url(../img/lamp2.gif) #fff;
        background-position: right center;
        background-size: 203px;
        background-repeat: no-repeat;

        .button-ja {
          .button-info{padding:20px;}
          .widget-button {
            margin: 20px;
          }
        }
      }
    .content{
      padding:0 0 20px 0;
      border-bottom:1px solid $secondary;
    }
  }
  .test{
    margin:30px;
  }
  .bg-img-living{
    background: url(../img/livingroom2.png);
    background-size: 40%;
    min-height: 313px;
    background-repeat: no-repeat;
    background-position: right;

  }
}

