$primary: #2d011f;
$secondary: #c72e42;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

$primaryFont: "Muli";

$secondaryFont: "Lato";

$borderRadius: 25px;

$primaryTransition: ease-in-out;
