html{
  font-size:15px;
}

body{
  font-family: $primaryFont, $secondaryFont, Arial;
  background-color:#F5F5F5;
}

h1,h2,h3,h4,h5{

}

p{

}

a{
  text-decoration: none;
}

ul,li{
  list-style: none;
}

img{
  width: 100%;
  height:auto;
}